/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store

/app/config/local/database.php
/app/config/staging/database.php
/app/config/production/database.php
/app/config/local/mail.php
/app/config/staging/mail.php
/app/config/production/mail.php
/public/storage/*
/public/css/compiled.css
/app/config/packages/greggilbert/recaptcha/config.php
/app/config/packages/greggilbert/recaptcha/local/config.php
